/* h1 {
    display: flex;
} */

table, th, td {
    border: 1px solid black;
    /*display: flex;*/
}

th, td {
    text-align: left;
    height: 20px;
}

.page-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.tables-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.tables-container-left {
    flex-grow: 1;
    margin-right: 10px;
}

.tables-container-right {
    flex-grow: 1;
    margin-right: 10px;
    flex-direction: column;
}

.account-table {
    margin-bottom: 20px;
}

table {
    width: 100%;
}

input {
    width: 100%;
    box-sizing: border-box;
}